@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Open+Sans:ital,wght@1,800&display=swap');
:root {
    --anvRed: #FC4445;
    --anvTeal: #3FEEE6;
    --anvAqua: #55BCC9;
    --anvBlue: #97CAEF;
    --anvWhite: #CAFAFE;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: var(--anvAqua);
}

nav {
    align-items: center;
}

input {
    margin: 10px;
}

#landingPage {
    opacity: 0;
}

#singleSearch {
    opacity: 1;
}

.card {
    margin-left: 10px;
    margin-right: 10px;
}

.card-body {
    text-align: center;
    background-color: var(--anvWhite);
}

div.stars {
    width: 270px;
    display: inline-block
}

.mt-200 {
    margin-top: 200px
}

input.star {
    display: none
}

label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #4A148C;
    transition: all .2s
}

input.star:checked~label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s
}

input.star-5:checked~label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952
}

input.star-1:checked~label.star:before {
    color: #F62
}

label.star:hover {
    transform: rotate(-15deg) scale(1.3)
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome
}

#footer {
    text-align: center;
    padding-top: 12rem;
}

#logoContainer {
    max-width: 150px;
    height: auto;
}

#logoContainer:hover {
    animation: rotation .3s infinite linear;
}

#logoText {
    width: 200px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

li {
    list-style-type: none;
}

.movieRatingStyle {
    font-size: 12px;
}

.tocard-img-p {
    width: auto;
    max-height: 390px;
}

.listOfActors {
    padding: 0;
}

.ratingsList::before {
    content: '\A';
    white-space: pre;
}

#boxOffice1, #boxOffice2, #boxOffice3, #boxOffice4 {
    font-weight: bold;
    font-size: 15px;
}

@media (max-width: 576px) {
    .card {
        width: 300px;
        height: auto;
    }
}

.container {
    width: 70%;
}

@media (max-width: 411px) {
    .container {
        width: 80%;
    }
}

@media (max-width: 411px) {
    .container {
        width: 84%;
    }
}

@media (max-width: 375px) {
    .container {
        width: 92%;
    }
}

@media (max-width: 360px) {
    .container {
        width: 96%;
    }
}

@media (max-width: 320px) {
    .container {
        width: 92%;
    }
}